<div class="col-md-5">
  <img src="https://scontent-mad.xx.fbcdn.net/hphotos-xfp1/t31.0-8/11004587_928693860504186_5552033780764283606_o.jpg" alt="Baby boom!" style="width:500px; margin:30px">
</div>
<div class="col-md-offset-1 col-md-5">
  <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/10497280_929169503789955_71813609980067825_o.jpg" alt="Baby boom!" style="width:500px; margin:30px">
</div>
