<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div id="graphic" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div id="container" style="min-width: 310px; height: 200%; margin: 50 auto"></div>
  </div>
</div>
