  <div id="selector" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

      <div class="col-md-offset-1 col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>Insert your month selection</h1>
      </div>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <div class=" col-md-offset-1 col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="btn-group">

              <label for="from"> From </label>
              <input type="text" id="from" name="from" class="date-picker">

              <label for="to">to</label>
              <input type="text" id="to" name="to" class="date-picker">
              <button type="submit"> Refresh </button>
          </div>
      </div>

  </div>
  <div id="map-container" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div id="map_canvas" style="width:100%; height:100%"></div>
  </div>
