
#header{
    height: 10vh;
    background: gray;
}

#graphic{
    height: 50vh;
    background: red;
}

#selector{
    height: 40vh;
}

#map-container{
    height: 40vh;
}

.ui-datepicker-calendar {
    display: none;
}